<h2>Login</h2>

<form method="post" action="/login">

  <div class="field">
    <label for="login">Login:</label> <br/>
    <input tpe="text" id="login" name="login" size="30" />
  </div>

  <div class="field">
     <label for="passsword">Password:</label> <br/>
     <input tpe="text" id="password" name="password" size="30" />
  </div>

  <din class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>

</form>
